html,
body {
  background: #fafafa;
  height: 100%;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button {
  color: #ffffff;
  background: #00aa00;
  padding: 20px;
  font-size: 42px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
}

table {
  border-spacing: 60px;
  border-collapse: separate;
}

img {
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 200px;
}

.game-area {
  background: #fffeeb;
  padding: 5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: center;
}

.quizz-section {
  display: table-cell;
  height: 50%;
  text-align: center;
}

.quizz-block {
  display: none;
}

.outro-section {
  display: none;
  align-items: center;
}

.title {
  color: #004000;
  font-size: 72px;
  margin-bottom: 10%;
}

.subtitle {
  color: #004000;
  font-size: 40px;
  margin-bottom: 5%;
}

.option-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.nxt {
  background: #00bb00;
  padding: 15px;
  font-size: 25px;
}

.result-container {
  margin-top: 10%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.result-container > button {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.result-txt {
  font-size: 30px;
  margin-bottom: 0;
}
