html,
body {
  background: #fafafa;
  height: 100%;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button {
  color: #ffffff;
  background: #00aa00;
  padding: 20px;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

table {
  border-spacing: 60px;
  border-collapse: separate;
}

img {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-height: 200px;
}

.game-area {
  background: #fffeeb;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.quizz-section {
  display: table-cell;
  width: 100%;
  text-align: center;
}

.quizz-block {
  display: none;
}

.end-video {
  display: none;
  align-items: center;
}

.title {
  color: #004000;
  font-size: 35px;
  margin-bottom: 10%;
  margin-top: 5px;
}

.option-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.nxt {
  background: #00bb00;
  padding: 15px;
  font-size: 15px;
}

.result-container {
  margin: 5px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.result-container > button {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.result-txt {
  font-size: 20px;
  margin-bottom: 0;
}
